# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
backend/venv/

# Rasa specific
.rasa/
data/db/
models/

# Logs
*.log

# Environment files
*.env

# OS files
.DS_Store
Thumbs.db
